DS_Store
.AppleDouble
.LSOverride
azure.err
iisnode.yml

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
node_modules/
public/client/lib
dist/
build/
babel_cache/
npm-debug.log
src/static/js
project-pretzel.pem

# Floobits
.floo
.floobit
.floo
.flooignore
